server:
  port: 4003

# --- Actuator / Health ---
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service-route
          uri: http://auth-service:4001
          predicates:
            - Path=/api/auth/**
          filters:
            - name: RewritePath
              args:
                regexp: "/api/auth/(?<segment>.*)"
                replacement: "/auth/public/${segment}"

      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowed-origins: "${FRONTEND_URL:http://localhost:5173}"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers: "*"
            allow-credentials: true